.main{
    width: 100%;
    background-color: #334756;
    padding-bottom: 300px;
}

.projects{
    width: 100%;
    background-color: #334756;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    margin-top: 150px;
    background-color: #334756;
    /* display: flex; */
    /* place-items: row; */
    color:white
} 