.skill{
    width: 100%;
    background-color: #334756;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
}

