.work {
  width: 100%;
  /* height: 100vh; */
  background-color: #334756;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  /* height: 100vh; */
  background-color: #334756;
}

.timeline {
  margin-top: 150px;
}
